%nav.navbar.navbar-dark.bg-dark
  .container-fluid
    .navbar-brand Мой блог

.pt-4
  .container
    - @categories.each do |category|
      %h2.mb-1= category.title
      - unless category.description.blank?
        %p.mb-0= category.description

      .row.mt-4
        - category.posts.each do |post|
          %article.col-lg-3.col-md-6.col-12
            .card.mb-4.card-hover
              .card-img-top
                %img.card-img-top.rounded-top{alt: "#{post.title}", src: "#{post.image_path}"}/
              .card-body
                %h3.h4.text-truncate-line-2.mb-0= post.title
                - unless post.content.blank?
                  .card-text.mt-2= post.content
              .card-footer= post.author

        - if category.posts.empty?
          .col-12
            .card
              .card-body
                Статей нет
